
@{
    ViewData["Title"] = "Index";
}

<main role="main" class="inner cover">
    <div id="draftwindow" class="h-100">
        <div class="row no-gutters h-100">
            <div class="col-sm-8 h-100">
                <div id="current-pack">Contents of current pack<br />hasdhh</div>
                <div id="user-deck">User's deck</div>
            </div>
            <div class="col-sm-4 h-100">
                <div id="summary-info">Summary information</div>
                <div id="card-preview">Card preview</div>
            </div>
        </div>
    </div>
</main>