@{
    ViewData["Title"] = "Index";
}

<main role="main" class="inner cover">
    <div id="draftwindow" class="h-100">
        <div class="row no-gutters h-100">
            <div class="col-sm-8 h-100">
                <div id="current-pack">
                    <div class="square-title">Contents of current pack</div>
                    <div class="card-list">
                        <img src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=409741&type=card" class="mtg-card"  />
                        <img src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=409721&type=card" class="mtg-card" />
                        <img src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=409731&type=card" class="mtg-card" />
                        <img src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=409751&type=card" class="mtg-card" />
                        <img src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=409771&type=card" class="mtg-card" />
                        <img src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=409541&type=card" class="mtg-card" />
                        <img src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=409641&type=card" class="mtg-card" />
                        <img src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=409841&type=card" class="mtg-card" />
                        <img src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=409941&type=card" class="mtg-card" />
                        <img src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=409241&type=card" class="mtg-card" />
                        <img src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=409742&type=card" class="mtg-card" />
                        <img src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=409743&type=card" class="mtg-card" />
                        <img src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=409744&type=card" class="mtg-card" />
                        <img src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=409745&type=card" class="mtg-card" />
                        <img src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=409746&type=card" class="mtg-card" />
                    </div>
                </div>
                <div id="user-deck">
                    <div class="square-title">User's deck</div>
                    <div class="card-list">
                        
                    </div>
                </div>
            </div>
            <div class="col-sm-4 h-100">
                <div id="summary-info">Summary information</div>
                <div id="card-preview">
                    <div class="square-title">Card preview</div>
					<img src="~/images/example-mtg-card.jpg" class="mtg-preview" />
				</div>
            </div>
        </div>+
    </div>
</main>