
@{
    ViewData["Title"] = "Index";
}

<main role="main" class="inner cover">
    <div id="draftwindow" class="h-100">
        <div class="row no-gutters h-100">
            <div class="col-sm-8 h-100">
                <div id="current-pack">
                    <div class="square-title">Contents of current pack</div>
                    <div class="card-list">
                        <img src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=409741&type=card" class="mtg-card" />
                        <img src="~/images/example-mtg-card.jpg" class="mtg-card" />
                        <img src="~/images/example-mtg-card.jpg" class="mtg-card" />
                        <img src="~/images/example-mtg-card.jpg" class="mtg-card" />
                        <img src="~/images/example-mtg-card.jpg" class="mtg-card" />
                        <img src="~/images/example-mtg-card.jpg" class="mtg-card" />
                        <img src="~/images/example-mtg-card.jpg" class="mtg-card" />
                        <img src="~/images/example-mtg-card.jpg" class="mtg-card" />
                        <img src="~/images/example-mtg-card.jpg" class="mtg-card" />
                        <img src="~/images/example-mtg-card.jpg" class="mtg-card" />
                        <img src="~/images/example-mtg-card.jpg" class="mtg-card" />
                        <img src="~/images/example-mtg-card.jpg" class="mtg-card" />
                        <img src="~/images/example-mtg-card.jpg" class="mtg-card" />
                        <img src="~/images/example-mtg-card.jpg" class="mtg-card" />
                        <img src="~/images/example-mtg-card.jpg" class="mtg-card" />
                    </div>
                </div>
                <div id="user-deck">User's deck</div>
            </div>
            <div class="col-sm-4 h-100">
                <div id="summary-info">Summary information</div>
                <div id="card-preview">Card preview</div>
            </div>
        </div>
    </div>
</main>