@{
    ViewData["Title"] = "Home Page";
}

<h1 class="cover-heading">Choose your set:</h1>
<p class="lead">This is the fantastic Rocket Infused Chicken Draft Simulator</p>
<p class="lead">
    <a href="#" class="btn btn-lg btn-secondary">Guilds of Ravnica</a>
</p>